<%- include("partials/header.ejs") %>
<style>
    body{
        background-color: white;
    }
</style>
<div class="reviews-container row">
    <% for(let i=0;i<reviews.length;i++){ %>
        <div class="card col-lg-4">
            <a href="/reviews/<%= reviews[i]._id %>" class="review-link">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= reviews[i].name %>
                    </h5>
                    <p class="card-text">
                        <%= reviews[i].objective %>
                    </p>
                </div>
                <div class="card-footer">
                    <%= reviews[i].createdAt %>
                </div>
            </a>
        </div>  
    <% } %>
</div>


<!---Conduct review button--->
<div class="conduct-review-btn">
    <form action="/reviewForm">
        <button class="btn btn-success">Conduct a Review</button>
    </form>
</div>

<%- include("partials/footer.ejs") %>